.videoSidebar{
    top: 50%;
    right: 10px;
    position: absolute;
}

.videoSidebar_options{
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.iconeCurtido{
    transform: scale(1.1);
}